<div class="bg-white p-8 rounded-lg shadow-md">

      <h1 class="text-3xl font-bold text-gray-800 mb-6">
        Generar Código QR
      </h1>

      <form class="space-y-6" [formGroup]="form">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

          <div>
            <label for="startDate" class="block  font-medium text-gray-700">Fecha inicial</label>
            <input
              formControlName="startDate"
              id="startDate"
              type="date"
              [min]="today"
            />
          </div>

          <div>
            <label for="endDate" class="block font-medium text-gray-700">Fecha final</label>
            <input
              formControlName="endDate"
              id="endDate"
              type="date"
              [min]="today"

            />
          </div>
        </div>
  
        <div>
          <label for="profile" class="block font-medium text-gray-700">Perfil</label>
          <input
            id="profile"
            type="text"
            formControlName="profile"
            placeholder="Introduce el perfil"
          />
        </div>
  
        <div class="w-full">
          <label for="info" class="block text-gray-700">Información adicional</label>
          <textarea id="info"
            formControlName="info"
            class="w-full mt-1 p-2 border rounded-sm " rows="3"></textarea>
        </div>
  
        <div class="text-right">
          <button
            type="button"
            class="px-6 py-2 bg-indigo-500 text-white rounded-sm  shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
            (click)="generateQR()"
          >
            Generar QR
          </button>
        </div>
      </form>
    </div>
  

 <router-outlet></router-outlet>