<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
    <tr>
    <th scope="col" class="px-6 py-3">
                        Nombre
    </th>
    <th scope="col" class="px-6 py-3">
        documento
    </th>
    <th scope="col" class="px-6 py-3">
                        Motivo del carné
    </th>
    <th scope="col" class="px-6 py-3">
                        Perfil
    </th>
    <th scope="col" class="px-6 py-3">
    <span class="sr-only">Edit</span>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b  hover:bg-gray-50 ">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
        Jose Daniel Fabra
    </th>
    <td class="px-6 py-4">
        1.063.305.499
    </td>
    <td class="px-6 py-4">
        Nuevo
    </td>
    <td class="px-6 py-4">
                        Estudiante
    </td>
    <td class="px-6 py-4 text-right">
    <a href="#" class="font-medium text-blue-600  hover:underline">Ver</a>
    </td>
    </tr>
    <tr class="bg-white border-b  hover:bg-gray-50 da">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Jose Perez
    </th>
    <td class="px-6 py-4">
        50.523.125
    </td>
    <td class="px-6 py-4">
                        Nuevo
    </td>
    <td class="px-6 py-4">
                        Profesor
    </td>
    <td class="px-6 py-4 text-right">
    <a href="#" class="font-medium text-blue-600 hover:underline">Ver</a>
    </td>
    </tr>
    <tr class="bg-white hover:bg-gray-50 ">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Maria Alejandra
    </th>
    <td class="px-6 py-4">
                        1.125.512.562
    </td>
    <td class="px-6 py-4">
                        Deterioro
    </td>
    <td class="px-6 py-4">
                        Contratista
    </td>
    <td class="px-6 py-4 text-right">
    <a href="#" class="font-medium text-blue-600 hover:underline">Ver</a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>