<div class="text-center mb-8">
    <h1 class="text-lg font-bold leading-none tracking-tight text-white md:text-xl lg:text-2xl">Recuperar contraseña</h1>
    <p class="text-base font-normal text-gray-300 lg:text-lg sm:px-8">
        Te enviaremos un enlace para restablecer tu contraseña. Ingresa tu correo electrónico para continuar.
    </p>
</div>

<form [formGroup]="forgotPasswordForm" class="space-y-6 max-w-md mx-auto">
    <div class="relative">
        <label for="email" class="block text-sm font-medium text-gray-300 mb-1">Correo electrónico</label>
        <input type="email" id="email" formControlName="email" 
            placeholder="ejemplo@correo.com"
            >
        <span errorValidator [errors]="forgotPasswordForm.get('email')?.errors" [isTouched]="forgotPasswordForm.get('email')?.touched"></span>
    </div>

    <button type="button" (click)="onSubmit()"
    class="m-auto w-full max-w-sm px-6 py-4 hover:bg-neutral-200 active:bg-neutral-300 text-blue-800 font-medium bg-neutral-100 rounded-sm focus:outline-none focus:ring-2 ">
        Enviar enlace de recuperación
    </button>
</form>

<p class="mt-2 text-base text-center  ">
    ¿Ya recuerdas tu contraseña?  <a routerLink="/auth/login" class="text-gray-100 font-medium hover:underline">Iniciar sesión</a>
</p>